/* fixed topbar */
.flex-nav {
    position: fixed top; 
    background-color: black;
}
.flex-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.flex-nav li{
    flex: 2;
}

.flex-nav .nav-right {
    flex: 1;
}

.flex-nav a{
    color: beige;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}


/* Media Queries */
@media all and (max-width:1000px) {
    .flex-nav ul{
        flex-wrap: wrap;
    }
}

/* navigation bar */
.nav-heading {
    display: flex;
    justify-content: space-between;
   }
   
.nav-heading .nav-heading-left a {
text-decoration: none;
color: gray;
font-size: 1rem;
padding: 0 0.5rem;
}
   .nav-heading .nav-heading-left a {
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    padding: 0 0.5rem;
   }

   /* section-latest news */

   .section-latest-news {
    
   }

   .section-latest-news .section-img-links {
    display: grid;
    grid-template-columns: repeat(4 20px)
    grid-gap 20px;
   }
