* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .warpper {
    display: none;
  }

  .first-nav {
    display: none;
  }

  .warper-1 {
    display: none;
  }
  .second-nav {
    display: none ;
  }
  
  .mobile-nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    width: 100%;
    height: 2rem;
    background-color: rgb(252, 250, 250);
  }

  .mobile ul .mobile-items {
    display: none;
  }

  .mobile ul li {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 969px and 1240px) {
  .warpper {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}

/* mobile nav */
.mobile-nav {
  display: none;
}
/* first nav */

.warpper {
  position: absolute;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.first-nav {
  position: absolute;
  float: left;
  display: block;
  width: 100%;
  background-color: inherit;
}

.first-nav ul {
  list-style: none;
}

.first-nav li {
  display: inline-block;
  margin: 0.5px;
  padding: 7px;
}

.first-nav .nav-right {
  float: right;
}

.first-nav a {
  color: beige;
  display: inline;
  outline: none;
  padding: 8px 12px;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.first-nav ul li .dropdown {
  display: block;
}

.second-nav a {
  position: sticky;
  color: rgb(153, 153, 153);
  display: inline;
  outline: none;
  padding: 2px 4px;
  text-decoration: none;
  font-size: medium;
  text-transform: uppercase;
}

.news-warpper a {
  text-decoration: none;
  color: black;
}

.flex-anchor a {
  color: #f42;
  font-size: xx-large;
  font-weight: bolder;
  padding: 5px;
}

.footer-link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  margin: -10px;
  padding-top: -5px;
  color: rgb(236, 233, 233);
}

.dropdown-content li a {
  border-bottom: 1px solid #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  top: 0;
  margin: 0;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
  padding: 12px 16px;
  z-index: 1;
}

.first-nav ul li .dropdown-content {
  display: none;
  flex-direction: column;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* second nav */
.warpper1 {
  position: absolute;
  width: 100%;
  top: 2rem;
  height: 2rem;
  background-color: rgb(252, 250, 250);
}

.second-nav {
  display: block;
  float: left;
  width: 100%;
  background-color: inherit;
}

.second-nav img {
  position: relative;
  float: left;
  width: 110px;
  height: 50px;
}

.second-nav .search {
  float: right;
}

.second-nav li {
  display: inline-block;
  margin: 0.5rem;
}

/* cover gris */

.cover-display {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  width: 100%;
  margin-top: 80px;
  height: 75vh;
}

.card-funding img {
  width: 75px;
  height: 75px;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 4px;
  float: left;
}

.latest-news img {
  width: 100%;
  height: 75%;
}

.latest-deals img {
  width: 100%;
  height: 75%;
}

.cover-display article img {
  margin-top: -50px;
  margin-left: -50px;
}

.cover {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.cover-items-1 {
  grid-column: span 2;
  grid-row: 1 / 3;
  align-self: stretch;
}

.cover-images-1 {
  background: url("cover-1.png");
}

/* Latest news  */

.latest-news {
  position: relative;
  top: 700px;
  display: block;
  margin: auto;
  max-width: 1200px;
}

.news-warpper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  grid-gap: 1em;
}

.latest-news h5 {
  color: grey;
  margin-top: 2px;
}

.latest-news h2 {
  margin-bottom: 5px;
  color: #f42;
  font-size: xx-large;
}

/* latest-funding */

.latest-fundings {
  position: relative;
  top: 780px;
  max-width: 1200px;
  margin: auto;
  display: block;
}

.right-header {
  float: left;
}

.left-header {
  float: right;
}

.latest-deals h4 a {
  color: black;
  text-decoration: none;
}

.latest-fundings .left-header a {
  color: #f42;
  text-decoration: none;
  font-size: large;
}

.flex-anchor .card-panel a {
  color: #f42;
  font-size: medium;
}

.footer-button a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.second-footer .footer-text a {
  text-decoration: none;
  color: white;
  align-self: center;
  text-align: center;
}

.first-footer .footer-button a {
  color: white;
  padding: 1rem 1.1rem;
  margin: 1rem 1rem;
  font-size: 1rem;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 50%;
}

.latest-fundings .right-header h2 a {
  color: #f42;
  font-size: xx-large;
  text-decoration: none;
}

.card-funding ul li {
  list-style: none;
  list-style-position: inside;
  margin: 3px;
  padding: 5px;
}

.card-funding ul :nth-child(2) {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(247, 194, 194);
}

.flex-anchor ul {
  list-style: disc;
}

.flex-anchor li {
  border-bottom: 1px solid rgb(247, 194, 194);
  text-align: start;
  width: 100%;
  left: -5px;
}

.latest-fundings .left-header ul {
  display: inline-block;
  list-style: none;
}

.footer-link li {
  margin: 1rem 1rem;
  padding: 1rem 0.5rem;
  color: rgba(153, 153, 153, 0.7);
}

.footer-button li {
  text-decoration: none;
  margin: -10px;
  padding: 1rem 0;
  top: 2rem;
  list-style: none;
  border-radius: 50%;
  align-self: center;
}

.latest-fundings .left-header li {
  display: inline-block;
  padding: 5px;
}

.latest-funding-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
}

.card-funding {
  flex: 1;
  margin: 10px;
  background-color: rgb(252, 248, 249);
}



.card-title {
  background-color: #f42;
  padding: 10px;
}

.card-text {
  background-color: rgb(255, 237, 233);
  padding: 13px;
}

/*  Feature Flex */

.features-flex {
  position: relative;
  display: block;
  top: 850px;
  margin: auto;
  max-width: 1200px;
}

.flex-anchor {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  flex: 1;
  margin: 20px;
}

.flex-anchor .card li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
}

.flex-anchor .card img {
  width: 100%;
}

.flex-anchor .card {
  max-width: 33.33%;
  text-align: left;
}

.card-header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-anchor .card-header {
  margin-bottom: 10px;
}

.card-panel {
  flex: 1;
  padding: 5px;
  align-self: flex-start;
}

.flex-anchor .card-panel {
  background-color: rgb(245, 215, 205);
  height: auto;
}

.flex-anchor .card-panel img {
  float: right;
  margin-top: -15px;
  padding: 3px;
  width: 85px;
  height: 83px;
}

.flex-anchor .card ul {
  list-style-position: inside;
  padding: 5px;
}

/* Latest deals section */

.latest-deals {
  position: relative;
  top: 900px;
  display: block;
  margin: auto;
  max-width: 1200px;
}

.deals-warpper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  grid-gap: 1em;
}

.latest-deals h2 {
  margin-bottom: 5px;
  padding-bottom: 2px;
  color: #f42;
  font-size: xx-large;
}

.latest-deals h5 {
  color: grey;
  margin-top: 5px;
}

/* first footer */

.first-footer {
  position: relative;
  top: 980px;
  background-color: #333;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 2rem;
}

.footer-link li:hover {
  color: white;
}

/* second footer */

.second-footer {
  position: relative;
  top: 950px;
  background-color: black;
}

.second-footer .footer-text {
  display: flex;
  list-style: none;
  color: gray;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  padding: 2rem 1rem;
  flex-wrap: wrap;
}

.second-footer .footer-text img {
  width: 55px;
}
