* {
  margin: 0;
  padding: 0;
}

/* first nav */
.warpper {
  position: absolute;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.first-nav {
  position: absolute;
  float: left;
  display: block;
  width: 100%;
  background-color: inherit;
}

.first-nav ul {
  list-style: none;
}

.first-nav li {
  display: inline-block;
  margin: 0.5px;
  padding: 7px;
}

.first-nav .nav-right {
  float: right;
}

.first-nav a {
  color: beige;
  display: inline;
  outline: none;
  padding: 8px 12px;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.first-nav ul li .dropdown {
  display: block;
}

.second-nav a {
  position: sticky;
  color: rgb(153, 153, 153);
  display: inline;
  outline: none;
  padding: 2px 4px;
  text-decoration: none;
  font-size: medium;
  text-transform: uppercase;
}

.news-warpper a {
  text-decoration: none;
  color: black;
}

.flex-anchor a {
  color: #f42;
  font-size: xx-large;
  font-weight: bolder;
  padding: 5px;
}

.footer-link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  margin: -10px;
  padding-top: -5px;
  color: rgb(236, 233, 233);
}

.dropdown-content li a {
  border-bottom: 1px solid #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  top: 0;
  margin: 0;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
  padding: 12px 16px;
  z-index: 1;
}

.first-nav ul li .dropdown-content {
  display: none;
  flex-direction: column;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* second nav */
.warpper1 {
  position: absolute;
  width: 100%;
  top: 2rem;
  height: 2rem;
  background-color: rgb(252, 250, 250);
}

.second-nav {
  display: block;
  float: left;
  width: 100%;
  background-color: inherit;
}

.logo {
  display: none;
  width: 130px;
  height: 75px;
}

.toggle {
  display: none;
}

.second-nav .search {
  float: right;
}

.second-nav li {
  display: inline-block;
  margin: 0.5rem;
}

/* cover gris */

.cover-display {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin-top: 80px;
  height: 75vh;
}

.card-funding img {
  width: 75px;
  height: 75px;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 4px;
  float: left;
}

.latest-news img {
  width: 100%;
  height: 75%;
}

.latest-deals img {
  width: 100%;
  height: 75%;
}

.cover-display article img {
  position: relative;
  top: -37rem;
  left: -50px;
}

.cover {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.cover-items-1 {
  grid-column: span 2;
  grid-row: 1 / 3;
  align-self: stretch;
}

.cover-images-1 {
  position: relative;
  background-image: url("../img/cover-1.png");
  width: 100%;
  height: 100%;
}

.cover-images-2 {
  background: url("../img/cover-2.png");
  width: 100%;
  height: 100%;
}

.cover-images-3 {
  background: url("../img/cover-3.png");
  width: 100%;
  height: 100%;
}

.cover-text {
  position: absolute;
  bottom: 2px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: large;
  color: #fff;
}

.cover-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, white);
  opacity: 0.7;
}

/* Latest news  */

.latest-news {
  position: relative;
  top: 700px;
  display: block;
  margin: auto;
  max-width: 1200px;
}

.news-warpper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  grid-gap: 1em;
}

.latest-news h5 {
  color: grey;
  margin-top: 2px;
}

.latest-news h2 {
  margin-bottom: 5px;
  color: #f42;
  font-size: xx-large;
}

/* latest-funding */

.latest-fundings {
  position: relative;
  top: 780px;
  max-width: 1200px;
  margin: auto;
  display: block;
}

.right-header {
  float: left;
}

.left-header {
  float: right;
}

.latest-deals h4 a {
  color: black;
  text-decoration: none;
}

.latest-fundings .left-header a {
  color: #f42;
  text-decoration: none;
  font-size: large;
}

.flex-anchor .card-panel a {
  color: #f42;
  font-size: medium;
}

.footer-button a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.second-footer .footer-text a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.first-footer .footer-button a {
  color: white;
  padding: 1rem 1.1rem;
  margin: 1rem 1rem;
  font-size: 1rem;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 50%;
}

.latest-fundings .right-header h2 a {
  color: #f42;
  font-size: xx-large;
  text-decoration: none;
}

.flex-anchor li {
  border-bottom: 1px solid rgb(247, 194, 194);
  text-align: start;
  width: 100%;
  left: -5px;
}

.footer-link li {
  margin: 1rem 1rem;
  padding: 1rem 0.5rem;
  color: rgba(153, 153, 153, 0.7);
}

.footer-button li {
  text-decoration: none;
  margin: -10px;
  padding: 1rem 0;
  top: 2rem;
  list-style: none;
  border-radius: 50%;
  align-self: center;
}

.card-funding ul li {
  list-style: none;
  list-style-position: inside;
  margin: 3px;
  padding: 5px;
}

.card-funding ul :nth-child(2) {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(247, 194, 194);
}

.flex-anchor ul {
  list-style: disc;
}

.latest-fundings .left-header ul {
  display: inline-block;
  list-style: none;
}

.latest-fundings .left-header li {
  display: inline-block;
  padding: 5px;
}

.latest-funding-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
}

.card-funding {
  flex: 1;
  margin: 10px;
  background-color: rgb(252, 248, 249);
}

.card-title {
  background-color: #f42;
  padding: 10px;
}

.card-text {
  background-color: rgb(255, 237, 233);
  padding: 13px;
}

/*  Feature Flex */

.features-flex {
  position: relative;
  display: block;
  top: 850px;
  margin: auto;
  max-width: 1200px;
}

.flex-anchor {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 100%;
  grid-gap: 1em;
  padding: 10px;
}

.card {
  width: 100%;
  height: 100%;
  text-align: left;
}

.flex-anchor .card li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
}

.flex-anchor .card img {
  width: 100%;
}

.card-header {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.card-panel {
  flex: 1;
  padding: 5px;
  align-self: flex-start;
}

.flex-anchor .card-panel {
  background-color: rgb(245, 215, 205);
  height: auto;
}

.flex-anchor .card-content img {
  width: 100%;
}

.flex-anchor .card-panel img {
  float: right;
  margin-top: -15px;
  padding: 3px;
  width: 85px;
  height: 83px;
}

.flex-anchor .card ul {
  list-style-position: inside;
  padding: 5px;
}

/* Latest deals section */

.latest-deals {
  position: relative;
  top: 900px;
  display: block;
  margin: auto;
  max-width: 1200px;
}

.deals-warpper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  grid-gap: 1em;
}

.latest-deals h2 {
  margin-bottom: 5px;
  padding-bottom: 2px;
  color: #f42;
  font-size: xx-large;
}

.latest-deals h5 {
  color: grey;
  margin-top: 5px;
}

/* first footer */

.first-footer {
  position: relative;
  top: 980px;
  padding: 25px;
  background-color: #333;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 2rem;
}

.footer-link li:hover {
  color: white;
}

/* second footer */

footer {
  width: 100%;
}

.second-footer {
  position: relative;
  top: 60rem;
  width: 100%; 
  background-color: black;
}

.second-footer .footer-text {
  display: flex;
  list-style: none;
  color: gray;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  padding: 2rem 1rem;
  flex-wrap: wrap;
}

.second-footer .footer-text img {
  width: 55px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .warpper {
    display: none;
  }

  .first-nav {
    display: none;
  }

  .warpper1 {
    position: absolute;
    display: block;
    top: 0;
    max-width: 700px;
    height: 10vh;
    z-index: -1;
  }

  .logo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .logo img {
    width: 100%;
  } 

  .toggle {
    position: absolute;
    display: inline;
    top: 25px;
    right: 10px;
    z-index: 1;
  }

  .second-nav {
    position: relative;
    width: 100%;
  }

  .second-nav .toggle {
    position: relative;
    width: 100%;
    float: right;
  }

  .second-nav li {
    display: none;
  }

  .cover-display {
    position: relative;
    display:  grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    width: 100%;
    height: 100%;
    top: 4rem;
    margin: 0 auto;
    padding: 5px;
  }

  .cover-items-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .cover {
    width: 19rem;
  }

  .latest-news {
    display: block;
    position: relative;
    top: 5rem;
  }

  .news-warpper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-size: 13px;
  }

  .news-warpper img {
    float: left;
    width: 85px;
    height: 85px;
    margin: 7px;
  }

  .news-warpper h4 {
    padding-top: 9px;
  }

  .latest-fundings {
    position: relative;
    display: block;
    width: 100%;
    top: 5.5rem;
  }

  .latest-fundings .right-header h2 {
    padding: 7px;
  }

  .latest-fundings .left-header {
    position: relative;
    display: block;
    width: 100%;
  }

  .latest-fundings .left-header li {
    display: block;
  }

  .latest-funding-content {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
  }

  .latest-funding-content > div:nth-child(4) {
    visibility: hidden;
  }

  .features-flex {
    position: relative;
    display: block;
    width: 100%;
    top: 0.1rem;
  }

  .flex-anchor {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    max-width: 310px;
    margin: 0 auto;
  }

  .latest-deals {
    position: relative;
    display: block;
    width: 100%;
    top: 4rem;
  }

  .deals-warpper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-size: 13px;
  }

  .deals-warpper img {
    float: left;
    width: 85px;
    height: 85px;
    margin: 7px;
  }

  .deals-warpper h4 {
    padding-top: 9px;
  }

  .first-footer {
    position: relative;
    display: block;
    width: 18rem;
    top: 5rem;
  }

  .footer-button {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

  .footer-button ul {
    list-style-position: inside;
  }

  .footer-button li {
    margin: -15px;
    text-align: center;
  }

  .footer-button li a i {
    font-size: x-small;
  }

  .footer-link {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 80%;
    margin: 0 auto;
  }

  .footer-link ul li {
    list-style-position: inside;
    align-self: center;
    margin: -20px;
  }

  .footer-link li a {
    font-size: x-small;
    margin: -20px;
  }

  .second-footer {
    position: relative;
    display: block;
    width: 100%;
    top: 5rem;
  }

  .footer-text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .footer-text li h4 {
    font-size: small;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {  
  .warpper {
    position: absolute;
    display: inline-block;
    width: 41rem;
    top: 0%;
    background-color: black;
    z-index: -1;
  }
  
  .toggle {
    display: none;
  }

  .logo {
    position: absolute; 
    display: block;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .logo img {
    position: relative;
    left: 0px;
    width: 100px;
    height: 75px;
    z-index: inherit;
  }

  .first-nav {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    width: 100%;
    padding-left: 7rem;
    background-color: inherit;
  }
  
  .first-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .first-nav li {
    flex: 1;
    font-size: small;
    margin-right: 5px;
  }

  .first-nav a {
    color: beige;
    text-decoration: none;
    margin-left: -25px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .first-nav ul li .dropdown {
    display: block;
  }
  
  .dropdown-content li a {
    border-bottom: 1px solid #fff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    top: 0;
    margin: 0;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .first-nav ul li .dropdown-content {
    display: none;
    flex-direction: column;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .warpper1 {
    position: relative;
    width: 100%;
    top: 2.5rem;
    width: 42rem;
    background-color: rgb(252, 250, 250);
  }
  
  .second-nav {
    display: inline;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-left: 6rem;
    background-color: inherit;
  }
  
  .second-nav .search {
    position: relative;
    bottom: 30px;
    right: 20px;
  }

  .second-nav li a {
    font-size: small;
  }

  .second-nav .hidden {
    visibility: hidden;
  } 

  .toggle {
    display: none;
  }
  
  .second-nav li {
    display: inline-block;
    margin: 0.5rem;
  }

  .cover-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    top: 2rem;
    gap: 0.5em;
    width: 100%;
    height: 50vh;
  }
  .cover .cover-images-1 img {
    display: none;
  }

  .latest-news {
    display: block;
    position: relative;
    max-width: 700px;
    top: 38rem;
    padding: 5px;
    margin: 0 auto;
  }

  .news-warpper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    grid-gap: 2em;
    padding: 10px;
  }

  .latest-fundings {
    position: relative;
    display: block;
    top: 40rem;
    max-width: 700px;
    padding: 5px;
  }

  .latest-fundings .right-header h2 {
    padding: 7px;
  }

  .latest-fundings .left-header {
    position: relative;
    display: block;
    width: 100%;
  }

  .latest-fundings .left-header li {
    display: block;
  }

  .latest-funding-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    width: 100%;
  }

  .latest-funding-content > div:nth-child(4) {
    visibility: hidden;
  }

  .features-flex {
    position: relative;
    width: 100%;
    top: 25rem;
    margin: auto;
  }

  .flex-anchor {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    width: 100%;
    margin-right: 45px;
  }

  .flex-anchor .card-content{
    width: 100%;
  }
  .flex-anchor .card-panel {
    width: 100%;
  }

  .latest-deals {
    display: block;
    position: relative;
    width: 100%;
    top: 28rem;
    padding: 5px;
    margin: 0 80px 0 10px;
  }

  .deals-warpper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    grid-gap: 2em;
    padding: 5px;
  }

  .first-footer {
    width: 100%;
    top: 34rem;
  }

  .first-footer .footer-button li {
    text-align: center;
  }

  .second-footer {
    position: relative;
    width: 51.2rem;
    top: 34rem;
  }
}
